.catalogContainer {
    max-width: 80%;
    max-height: 80vh;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.card {
    flex: 1;
    justify-content: space-between;
    max-width: 300px;
    max-height: 300px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    background-color: rgba(255, 255, 255, 0.718);

    h3 {
        margin: 0;
        padding: 5px 0 3px 0;
        font-size: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    img {
        flex: 1;
        max-width: 280px;
        max-height: 180px;
        border-radius: 3px;
    }

    a {
        margin: 0;
    }

    p {
        font-size: 16px;
        margin-bottom: 0.2rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    button {
        max-height: 40px;
        text-align: center;
        width: 100%;
        padding: 5px 20px;
        font-size: 16px;
    }

}