.formContainer {
    padding: 15px 30px;
    min-width: 30%;
    // max-height: 83vh;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    background-color: rgba(255, 255, 255, 0.438);
    margin-top: -60px;


    label {
        margin: 0;
        margin-bottom: 3px;
        max-height: 2vh;
    }

    input {
        max-height: 5vh;
    }

}

.loginContainer { 
    min-width: 30%;
    min-height: 70vh;
}