@import "header";
@import "footer";
@import "site";
@import "typography";
@import "formContainer";
@import './utilities';
@import './variables';
@import './home';
@import './catalog';
@import './details';
@import './profile';
@import './alert';
@import './spinner';

body {
    width: 100%;
    background-image:url('../images/123.jpg');
    background-position:center;
    background-repeat:repeat;
    background-size:cover;
}