@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');


* {
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 20px;
    font-family: 'Lato';
}

img {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

a {
    margin: 0.2em;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

